In [ ]:
import pandas as pd

In [ ]:
data1 = [
    [70, 80], 
    [90, 60],
    [100, 80]
]
df1 = pd.DataFrame(data1, columns=['1학기 중간', '1학기 기말'])

In [ ]:
data2 = [
    [90, 100], 
    [80, 70],
    [70, 90]
]
df2 = pd.DataFrame(data2, columns=['2학기 중간', '2학기 기말'])

In [ ]:
df = pd.concat([df1, df2], axis=1)

In [ ]:
df

In [ ]:
total = df['1학기 중간']+df['1학기 기말']+df['2학기 중간']+df['2학기 기말']
df['계'] = total
df

In [ ]:
df1 = df1.T
df2 = df2.T

In [ ]:
df1

In [ ]:
df2

In [16]:
df = df1.append(df2)
df

          0   1    2
1학기 중간   70  90  100
1학기 기말   80  60   80
2학기 중간   90  80   70
2학기 기말  100  70   90

In [22]:
total_df = pd.DataFrame(df.sum(), columns=['계'])
result_df = df.append(total_df.T)
result_df

          0    1    2
1학기 중간   70   90  100
1학기 기말   80   60   80
2학기 중간   90   80   70
2학기 기말  100   70   90
계       340  300  340