In [1]:
import pandas as pd
df = pd.DataFrame([
    {'번호':1, '이름':'a', '국어':100, '나이':15},
    {'번호':2, '이름':'b', '국어':90, '나이':16},
    {'번호':3, '이름':'c', '국어':80, '나이':15},
    {'번호':4, '이름':'d', '국어':70, '나이':14},
], columns=['번호', '이름', '국어', '나이'])

In [2]:
df['영어'] = [100, 80, 70, 60]
df

   번호 이름   국어  나이   영어
0   1  a  100  15  100
1   2  b   90  16   80
2   3  c   80  15   70
3   4  d   70  14   60

In [3]:
df['pass'] = df['국어'] + df['영어'] > 150

In [4]:
df

   번호 이름   국어  나이   영어   pass
0   1  a  100  15  100   True
1   2  b   90  16   80   True
2   3  c   80  15   70  False
3   4  d   70  14   60  False